<?
	/* Required */
	define('SCRIPT_DIR_URL', "http://example.com/exmaple/"); //URL to the directory where Gallery.php is.
	define('IS_DIR_INDEX', true); //set to true if you have set DirectoryIndex Gallery.php in your .htaccess file.
	define('TITLE', 'Page title goes here'); //Page title

	/* Optional */	
	define('USER_STYLE', 'mystyle.css'); // URL, relative path or file name for your custom style sheet. Set to false or remove this line if you don't have such stylesheet.

	/* Required */
	return('OK'); //Tells gallery.php that the settings file is OK. Don't remove it.
?>
